<!DOCTYPE html>
<html>
  <head>
    <title>Ορθογραφικό Λεξικό</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Ορθογραφικό Λεξικό</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/add_word">Καταχώρηση</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/words">Λέξεις</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/chat">Chat</a>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Αποσύνδεση</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login">Σύνδεση</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container mt-4">
      <h1>Word List</h1>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            {% if current_user.is_authenticated %}
            <th>ID</th>
            {% endif %}
            <th>Λέξη</th>
            <th>Επιπλέον Πληροφορίες</th>
            <th>Λάθος πιθανότητες</th>
            <th>Ημ/νία Καταχώρησης</th>
            <th>Ημ/νία Τροποποίησης</th>
            {% if current_user.is_authenticated %}
            <th>Ενέργειες</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for word in words %}
          <tr>
            {% if current_user.is_authenticated %}
            <td>{{ word[0] }}</td>
            {% endif %}
            <td>{{ word[1] }}</td>
            <td>{{ word[2] }}</td>
            <td>{{ word[3] }}</td>
            <td>{{ word[4] }}</td>
            <td>{{ word[5] }}</td>
            {% if current_user.is_authenticated %}
            <td>
              <a href="/edit/{{ word[0] }}" class="btn btn-primary btn-sm"
                >Edit</a
              >
              <a href="/delete/{{ word[0] }}" class="btn btn-danger btn-sm"
                >Delete</a
              >
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
